#header {

  background-color: darkblue;

  height: 100px;

  line-height: 50px;

 }



 h1 {
    color: white;
    height: 0px;

 }



td {

font-size: 30px;

}



tr {

font-size: 30px;

align: center;

text-align: center;

}



table {

text-align: center;

}



 #footer {

     background-color: #2f2f2f;

     padding: 50px 0;

     align-content: center;

   }

h2 {

  color: white;

}
.button {
    -webkit-box-shadow: 2.5px 2.5px 2.5px 0;
    border-radius: 5px;
    box-shadow: 2.5px 2.5px 2.5px 0;
    z-index: 0;
}
h1 center img {
    z-index: 0;
    float: none;
    clear: none;
    -webkit-box-shadow: inset 0px 0px;
    box-shadow: inset 0px 0px;
}
