#header {

  background-color: darkblue;

  height: 100px;

  line-height: 25px;

 }

 h1 {
    color: white;
    height: 0px;

 }



td {

font-size: 30px;

}



tr {

font-size: 30px;

align: center;

text-align: center;

}



table {

text-align: center;

}



 #footer {

     background-color: #2f2f2f;

     padding: 50px 0;

     align-content: center;

   }

h2 {

  color: white;

}
.button {
  padding: 5px 5px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 6px #999;
}
.button:hover {background-color: #3e8e41}
.button:active {
  background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}
h1 center img {
    z-index: 0;
    float: none;
    clear: none;
    -webkit-box-shadow: inset 0px 0px;
    box-shadow: inset 0px 0px;
}
.container {
  position: relative;
  max-width: 100px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.container .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  width: 100%; /* Full width */
  padding: 10px; /* Some padding */
}
.periods {
	font-size: 30px;
	text-align: center;
	font-family: cursive;
	color: black;
}

.periodsDark {
	font-size: 30px;
	text-align: center;
	font-family: cursive;
	color: white;
}

.regMode {
	background-color: white;
}

.darkMode {
	background-color: #202020;
}

.nameLink {
	text-decoration: underline; 
	color: black;
	font-size: 30px;
}

.nameLinkDark {
	text-decoration: underline; 
	color: white;
	font-size: 30px;
}
